subsystem/src/main/resources/schema/hashicorp-vault_experimental_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:wildfly:hashicorp-vault:experimental:1.0"
            xmlns="urn:wildfly:hashicorp-vault:experimental:1."
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.0">

    <!-- The subsystem root element -->
    <xs:element name="subsystem" type="subsystemType"/>

    <xs:complexType name="subsystemType">
        <xs:sequence>
            <xs:element name="credential-store" type="credentialStoreType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Configuration for a HashiCorp Vault credential store.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="credentialStoreType">
        <xs:annotation>
            <xs:documentation>
                HashiCorp Vault credential store configuration.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The unique name of this credential store.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="host-name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The HashiCorp Vault server address including protocol and port (e.g., https://vault.example.com:8200).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="namespace" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The HashiCorp Vault namespace to use.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="truststore-path" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Path to the truststore file containing trusted CA certificates for verifying the Vault server's
                    SSL/TLS certificate.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="keystore-path" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Path to the keystore file containing the client certificate and private key for mutual TLS authentication.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
            <xs:attribute name="keystore-pass" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        Password for accessing the keystore file.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
</xs:schema>
